@color-1: #fafafa;
@color-2: #efefef;
@color-3: #4BB4F5;
@color-4: #6B54AA;
@color-5: #223349;
@color-6: lighten(@color-7, 40%);
@color-7: #6D57AC;

@background: @color-1;
@text-color: @color-5;
@success: @color-3;
@success-text: white;
@avatar-border: @color-4;
@hover-text: @color-7;

@import (less) "./grid.css";
@import "./fonts.less";
@import "./skel.less";

* {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  color: @text-color;
  background-color: @background;
  // display: flex;
  // font-weight: 300;
  // flex-direction: row;
  // align-self: stretch;
  // align-items: stretch;
  // justify-content: space-around;
  // flex: 1;
  width: 100%;
  height: 100%;

  font-family: 'Open Sans Condensed', sans-serif;
}

#app {
  // flex: 1;
  // align-self: stretch;
  // justify-content: space-around;
  height: 100%;
}

.container {
  text-align: center;
}

#app, html, body {
  width: 100%;
  height: 100%;
  margin: 0
}


#app > div {
  height: 100%;
}

a {
  color: @color-7;
  text-decoration: none;
}

.header {
  padding: 1em 0 0 1em;
  text-align: center;
  a {
    color: @text-color;
    padding: 0.5em;
    &:hover {
      color: @color-4;
    }
  }
}

.avatar-section {
  text-align: center;
  padding-top: 4rem;
}

.copyright {
  opacity: 0.6;
  padding-top: 2em;
}

.middle-row {
  min-height: 100%;
}

.no-wrap {
  flex-wrap: nowrap;
}

.title {
  font-size: 2em;
  font-weight: 300;
  padding-top: 0.7em;

  span {
    padding-left: 0.2em;
  }
}

.subtitle {
  color: lighten(@color-5, 10%);
  font-size: 1em;
  font-weight: 300;
}



header.header {
  margin-top: 10px;
  position: fixed;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;

  .menu-icon {
    cursor: pointer;
    flex: 0;
    background: red;
    padding: 10px;
  }
}


.avatar {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  border: 1px solid @color-6;
  //box-shadow: 0 0 0 2px @avatar-border;
}

footer {
  padding-top: 2rem;
  font-size: 1rem;
}
@media (max-width: 667px) {
  html {font-size: 10px;}
}




.card {
  perspective: 1000px;
  height: 500px;
}
/* flip the pane when hovered */
.card.active .flipper, .flip-container.active .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;


}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  margin-top: -300px;
}
