
<section class="section">
  <div class="container">











    <div class="level">

      <a class="navlink" href="https://gitlab.com/lxsameer">
        <div class="level-item">
        </div>
      </a>

      <a class="navlink" href="/feed.xml">
        <div class="level-item">
          <span class="icon is-large">
            <i class="fas fa-rss fa-lg"></i>
          </span>

        </div>
      </a>

      {% if page.url != "/" %}
      <a class="level-item" href="/">
        <div class="column">
          <span class="icon is-large">
            <i class="fas fa-home fa-lg"></i>
          </span>
        </div>
      </a>
      {% endif %}

      <!-- {% if page.url != "/gpg.html" %}
           <div class="column  navlink">
           <a class="" href="/gpg.html">
           <span class="icon is-large">
           <i class="fas fa-key fa-lg"></i>
           </span>
           </a>
           </div>
           {% endif %} -->

      {% if page.url != "/blog/" %}
      <a class="navlink" href="/blog/">
        <div class="level-item">
          <span class="icon is-large">
            <i class="fas fa-blog fa-lg"></i>
          </span>
        </div>
      </a>
      {% endif %}

      <a class="navlink" href="https://www.linkedin.com/in/lxsameer/">
        <div class="level-item">
          <span class="icon is-large">
            <i class="fab fa-linkedin fa-lg"></i>
          </span>
        </div>
      </a>

      <a class="navlink" href="https://twitter.com/lxsameer">
        <div class="level-item">
          <span class="icon is-large">
            <i class="fab fa-twitter fa-lg"></i>
          </span>
        </div>
      </a>

    </div>
  </div>

</section>
