---
layout: default
---


<div class="column is-half-desktop is-offset-one-quarter-desktop para">
  <section class="section is-size-4-desktop is-size-5-mobile">
    <p class="text-centered">
      <img
        class="avatar is-rounded"
        alt="lxsameer"
        src="/assets/images/avatar.jpg"
      />
    </p>
    <p class="info text-justified">
      Hi! I'm <b>Sameer</b> and I usually write about
      technology and software development (hmmm more like nagging instead of writing). Since
      I'm lazy, my posts are short so I can write more often.

      <!-- <p class="info text-justified"> -->
      <!--   If you have any comment on the articles or anything in general either send me an -->
      <!--   email for connect to me via my <a class="home" href="https://activitypub.rocks/">activity pub</a> -->
      <!--   feed on <a class="home" href="https://social.lxsameer.com">lxsameer@social.lxsameer.com</a>. -->
      </p>
    </p>
  </section>
</div>


<div class="column is-half-desktop is-offset-one-quarter-desktop">
  <section class="section">
    <h3 class="header is-size-4">
      Blog Posts:
    </h3>

    {% for post in site.posts %}

    <div class="columns">
      <div class="column">
        <h2 class="is-size-3-desktop is-size-4-mobile">
          <a class="post-title-link" href="{{ post.url }}">
            <i class="fas fa-link"></i> {{ post.title }}
          </a>
        </h2>
      </div>
    </div>

    {% endfor %}
  </section>
</div>
