---
layout: default
theme: light
---
<div class="column is-half-desktop is-offset-one-quarter-desktop">
  <h1 class="is-size-1">
    {{page.title}}
  </h1>

  <content class="post">
    {{ content }}
  </content>
</div>
