---
layout: default
theme: dark
---

<div class="column is-half-desktop is-offset-one-quarter-desktop">
  <h1 class="is-size-2">
    {{page.title}}
  </h1>
  <div class="columns">
    <div class="column">
      <ul class="details is-size-7">
        <li>{{page.date | date_to_string }} |</li>

          {% for tag in page.tags %}
          <li class="">#{{ tag | capitalize }}</li>
          {% endfor %}

        {% for tag in page.categories %}
        <li class="category">
            #{{ tag | capitalize }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="column">
    </div>


  </div>

  <content class="post">
    {{ content }}
  </content>


  <div class="share-page">
    <div class="columns is-flex right-aligned">
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
        <div class="column">
          <span class="icon is-large">
            <i class="fab fa-twitter fa-lg"></i>
          </span>
        </div>
      </a>

      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{page.url}}&title={{page.title}}&summary={{page.description}}&source={{site.url}}" rel="nofollow" target="_blank" title="Share on LinkedIn">
        <div class="column">
          <span class="icon is-large">
            <i class="fab fa-linkedin fa-lg"></i>
          </span>
        </div>
      </a>

      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
        <div class="column">
          <span class="icon is-large">
            <i class="fab fa-google fa-lg"></i>
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="columns is-flex centered">
  <div class="column is-half-desktop has-text-centered">
  </div>
</div>
